<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barobot"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.BarobotActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activity.StartupActivity"
            android:label="@string/title_activity_wizard_start"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.RecipeListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.BTListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.DebugActivity"
            android:label="@string/title_activity_device_list"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".activity.BottleSetupActivity"
            android:label="@string/title_activity_bottle_setup"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.RecipeSetupActivity"
            android:label="@string/title_activity_recipe_setup"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <!--
        activity
            android:name="com.barobot.gui.OutsideComponentActivity"
            android:label="@string/title_activity_outside_component"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barobot.gui.BarobotActivity" />
        </activity
        -->
        <activity
            android:name=".activity.ProductActivity"
            android:label="@string/title_activity_product"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barobot.activity.BarobotActivity" />
        </activity>
        <activity
            android:name=".activity.CreatorActivity"
            android:label="@string/title_activity_creator"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="net.pocketmagic.android.carousel.MainActivity"
            android:label=""
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.OptionsActivity"
            android:label="@string/title_activity_options"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.ValidatorActivity"
            android:label="@string/title_activity_validator"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".wizard.PowerActivity"
            android:label="@string/title_activity_power"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".wizard.SensorsActivity"
            android:label="@string/title_activity_sensors"
            android:screenOrientation="sensorLandscape" >
        </activity>
 
        <activity
            android:name=".wizard.CalibrationActivity"
            android:label="@string/title_activity_calibration"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".wizard.ServosActivity"
            android:label="@string/title_activity_servos"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".wizard.FirmwareActivity"
            android:label="@string/title_activity_firmware"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".wizard.ServoZActivity"
            android:label="@string/title_activity_servo_z"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".wizard.ServoYActivity"
            android:label="@string/title_activity_servo_y"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".wizard.WeightSensorActivity"
            android:label="@string/title_activity_weight_sensor"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".wizard.HallXActivity"
            android:label="@string/title_activity_hall_x"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".wizard.FinishActivity"
            android:label="@string/title_activity_finish"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name="com.barobot.wizard.LedActivity"
            android:label="@string/title_activity_led"
            android:screenOrientation="sensorLandscape" >
        </activity>
    </application>

</manifest>
